* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: black;
    --main-title-color: black;
    --main-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
.dark-mode {
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: white;
    --main-title-color: rgb(252, 130, 1);
    --main-box-shadow: 0 0.25rem 0.5rem rgb(252, 131, 0.3);
}
  
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100vw;
    height: 100vh;
}

.Nav-Container {
    position: relative;
    width: 96vw;
    margin: 2%;
    height: 30vh;
    background-color: rgba(3, 129, 247, 0.258);
    border-radius: 1rem; 
    transition: height 0.6s ease-in-out, align-items 0.6s ease-in-out;
}

header{
  display: flex;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
}

nav img{
  height: calc(100%);
  width: auto;
  object-fit: cover;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:1.25rem;
  transition: flex-direction 0.6s ease-in-out, align-items 0.6s ease-in-out;
}

a{
  color: var(--main-text-color);
}

.Container{
display: flex;
width: 100vw;
height: 100vh;
transition: flex-direction 0.6s ease-in-out, align-items 0.6s ease-in-out;
}

.gradient{
  background: linear-gradient(-45deg, #02e1fa 50%, #f750fa 50%);
  width: 50vw;
  height: 80vh;
  filter: blur(1280px);
  z-index: -2;
}

.imageContainer{
  flex: 1;
  flex-direction: column;
  position: relative;
  margin: 2%;
  padding: 2%;
  box-shadow: var(--main-box-shadow);
  border-radius: 4%;
}

.childrenImage{
  position: absolute;
  margin: 5%;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 2%;
}

.intro{
  flex: 1;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  box-shadow: var(--main-box-shadow);
  border-radius: 5%;
}

.title{
  height: 20px;
  margin-bottom:5%;
  color:var(--main-title-color);
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.Context{
  flex: 1;
  margin: 2%;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  box-shadow: var(--main-box-shadow);
  border-radius: 5%;
}

.VideoTour{
flex: 1;
position: relative;
margin: 2%;
padding: 1%;
box-shadow: var(--main-box-shadow);
border-radius: 4%;
}

.videoasset{
  position: absolute;
  margin: 5%;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 2%;
}



.preprep{
  flex: 1;
  position:relative;
  display: inline-block; /* Ensures the container fits the image size */
  overflow: hidden; /* Prevents the image from overflowing outside the container */
  transition: transform 0.6s ease-in-out; /* Smooth transition for the transform property */
}

.preprepImage{
  position: absolute;
  margin: 5%;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 2%;
}

.preprepImage:hover{
  transform: scale(1.1); /* Increase the size of the image by 10% */
}

.prep{
  flex: 1;
  position:relative;
  display: inline-block; /* Ensures the container fits the image size */
  overflow: hidden; /* Prevents the image from overflowing outside the container */
  transition: transform 0.6s ease-in-out; /* Smooth transition for the transform property */
}

.gradeschool{
  flex: 1;
  position:relative;
  display: inline-block; /* Ensures the container fits the image size */
  overflow: hidden; /* Prevents the image from overflowing outside the container */
  transition: transform 0.6s ease-in-out; /* Smooth transition for the transform property */
}

.jss{
  flex: 1;
  position:relative;
  display: inline-block; /* Ensures the container fits the image size */
  overflow: hidden; /* Prevents the image from overflowing outside the container */
  transition: transform 0.6s ease-in-out; /* Smooth transition for the transform property */
}


.grid{
display: grid;
grid-template-columns: repeat(4,1fr);
gap:1rem;
width: 100%;
height: 100%;
margin: 2%;
}

.grid-col-span-2{
grid-column: span 2;
}

.grid-row-span-2{
  grid-row: span 2;
}

.grid :first-child{
  background-color: #888387;
}



.grid .secondChild{
  background-color: #6996f8;
}

.grid .thirdChild{
  background-color: #74bf58;
}

.grid .forthChild{
  background-color: #944ea7;
}

.grid :last-child{
  background-color: rgb(246, 186, 107);
}

.testimanial{
  padding: 2rem;
  border-radius: 2%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.HeaderBanner{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 2%;
  background: linear-gradient(-70deg, orange 50%, black 50%);
}

.HeaderImage{
  position: absolute;
  margin: 2%;
  top: 0;
  left: 0;
  width: 97%;
  height: 92%;
  object-fit: cover;
  border-radius: 2%;
}

.HeaderContent {
  position: absolute;
  align-self: center;
  margin:40%;
  margin-left: 20%;
  margin-bottom: 50%;
  flex-direction: column;
  color: orange;
}

.HeaderTitle{
margin-bottom: 5%;
}

.HeaderContentText{
  overflow: hidden;
  overflow: scroll;
}

.HomeAbout{
  width: 100%;
  height: 100%;
  margin: 2%;
  background-color: rgb(75, 68, 68);
}

@media (max-width: 760px) {
  nav{
      flex-direction: column;
  } 
  nav ul {
    flex-direction: column;
    align-items: center;  
  }
  .Nav-Container{
    height: 30vh;
    overflow: hidden;
    overflow: scroll;
    align-items: center;
  }

  .Container{
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    overflow: scroll;
   }

  .grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    width: 100%;
    height: 100%;
    margin: 2%;
   }

   .grid-col-span-2{
    grid-column: span 1;
   }

   .grid-row-span-2{
    grid-row: span 1;
   }
  .gradient{
    background: linear-gradient(-45deg, #02e1fa 50%, #f750fa 50%);
    width: 100vw;
    height: 80vh;
    filter: blur(480px);
    z-index: -2;
  }

  .imageContainer{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90vw;
  }

  .preprep{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90vw;
  }
  .prep{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90vw;
  }
  .gradeschool{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90vw;
  }

  .jss{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90vw;
  }

  .VideoTour{
    flex: 1;
    position: relative;
    width: 90vw;
    }

    .HeaderBanner{
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 90%;
    }

    .HeaderImage{
      position: absolute;
      margin: 5%;
      top: 0;
      left: 0;
      width: 90%;
      height: 95%;
      object-fit: cover;
      border-radius: 2%;
    }
}

